In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import scikitplot as skplt
import pandas as pd

In [2]:
dfr=pd.read_csv("DATA/rms__T4OK1.csv")

In [5]:
df6 = pd.read_csv('DATA/MSX6C.csv',sep=";", skiprows=range(0,88),names = ["Name","RAJ20(deg)","DEJ20(deg)",
                                                  "F4_B1(Jy)","qF4_B1","eF4_B1(%)","F8","qF8","eF8(%)",
                                                                                    "F12","qF12","eF12(%)",
                                                                                     "F14","qF14","eF14(%)",
                                                                                    "F21","qF21","eF21(%)"])

In [7]:
df6.head()

,Name,RAJ20(deg),DEJ20(deg),F4_B1(Jy),qF4_B1,eF4_B1(%),F8,qF8,eF8(%),F12,qF12,eF12(%),F14,qF14,eF14(%),F21,qF21,eF21(%)
0,G286.8386-02.1157,158.4852,-60.6174,-11.57,0,,20.02,4,4.1,22.54,4,5.0,17.73,4,6.1,17.720,4,6.0
1,G326.2281-02.1979,238.6553,-56.5447,15.95,1,13.1,18.39,4,4.1,17.37,4,5.0,12.43,4,6.1,11.450,4,6.1
2,G319.0885-02.1148,227.3443,-60.5847,27.92,2,11.2,17.78,4,4.1,23.58,4,5.0,17.09,4,6.1,10.880,4,6.1
3,G005.4484-02.0026,271.4327,-25.2398,22.57,1,12.3,16.67,4,4.1,19.36,4,5.0,14.77,4,6.1,10.580,4,6.1
4,G313.6091-02.2572,217.0207,-63.1080,24.18,1,11.1,18.46,4,4.1,17.27,4,5.0,11.75,4,6.1,7.952,4,6.1

In [14]:
dfhiq=dfr[np.in1d(dfr['MSX Name'],df6['Name'][np.in1d(df6['Name'],dfr['MSX Name'])])]

In [15]:
len(dfhiq)

3806

In [13]:
dfhiq.to_csv("DATA/rms_high_qf.csv")